<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <title>Lista de Contatos</title>
    <style></style>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-app-bar app dense>
          <span>Lista de Contatos</span>
          <v-spacer></v-spacer>
        </v-app-bar>

        <v-main>
          <v-container>
            <div v-if="users.length == 0">
              <h1 class="text-center mt-5 text--lighten-1">
                Ops... Sua Lista de lista de contatos está vazia!
              </h1>
              <p class="text-center mt-4">Adicione seus contatos aqui!</p>
            </div>

            <v-data-table
              :headers="headers"
              :items="users"
              item-class="color"
              class="elevation-2"
              v-else
              :footer-props="{ 'items-per-page-text':'Contatos por página'}"
            >
              <template v-slot:[`item.actions`]="{ item }">
                <div :style="item.color">
                  <v-icon class="mr-2" color="orange" @click="editUser(item)"
                    >mdi-pencil</v-icon
                  >
                </div>
              </template>
            </v-data-table>

            <v-row
              class="py-5 d-flex justify-content-center"
              style="justify-content: center"
            >
              <v-dialog v-model="addNewUser" persistent max-width="500px">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="success"
                    dark
                    v-bind="attrs"
                    v-on="on"
                    class="btn-primary"
                  >
                    Adicionar Novo Contato +
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title
                    class="d-flex justify-content-center align-center"
                  >
                    <span class="text-center">Informações do contato</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="12" md="8">
                          <v-text-field
                            label="Informe o Nome Completo"
                            required
                            v-model.trim="user.name"
                            :append-icon="$v.user.name.$error ?? $v.user.name.minLength ? 'mdi-close' :''"
                          >
                          </v-text-field>
                          <p
                            class="red--text"
                            v-if="$v.user.name.$error  && !$v.user.name.required "
                          >
                            Campo obrigatório. Por favor preencha.*
                          </p>

                          <p
                            class="red--text"
                            v-if="this.nome_completo.length == 1"
                          >
                            Campo obrigatório. Por favor preencha.*
                          </p>
                          <p
                            class="red--text"
                            v-if=" msgName || !$v.user.name.minLength"
                          >
                            O Nome e o Sobrenome devem possuir pelo menos 3
                            letras *
                          </p>
                        </v-col>
                        <v-col cols="12" sm="12" md="8">
                          <v-text-field
                            label="Informe o Número de telefone"
                            v-model="user.numero_telefone"
                            v-mask="'(##)# ####-####'"
                            :append-icon="$v.user.numero_telefone.$error ?? $v.user.name.minLength ? 'mdi-close' :''"
                            @keyup.enter="salvar()"
                          >
                          </v-text-field>
                          <p
                            class="red--text"
                            v-if="$v.user.numero_telefone.$error && !$v.user.numero_telefone.required "
                          >
                            Esse campo é obrigatório *
                          </p>

                          <p
                            class="red--text"
                            v-if="$v.user.numero_telefone.required && !$v.user.numero_telefone.minLength"
                          >
                            Por favor digite um número válido *
                          </p>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-btn color="red darken-1" text @click="cancelar()">
                      cancelar
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="salvar()">
                      Salvar
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-row>

            <v-dialog
              v-model="editUserD"
              persistent
              max-width="600px"
              :retain-focus="false"
            >
              <v-card>
                <v-card-title
                  class="d-flex justify-content-center align-center"
                >
                  <span class="text-center">Edição de contato</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="8">
                        <v-text-field
                          label="Nome completo"
                          required
                          v-model.trim="EditUser.name"
                        >
                        </v-text-field>
                        <p class="red--text" v-if="!$v.EditUser.name.required ">
                          Esse campo é obrigatório *
                        </p>

                        <p
                          class="red--text"
                          v-if="this.nome_completo.length == 1"
                        >
                          Digite o Nome e Sobrenome *
                        </p>

                        <p class="red--text" v-if="msgName">
                          Nome e Sobrenome devem possuir 3 letras *
                        </p>
                      </v-col>
                      <v-col cols="12" sm="12 " md="4">
                        <v-text-field
                          label="Número de telefone"
                          v-model="EditUser.numero_telefone"
                          v-mask="'(##)# ####-####'"
                        >
                        </v-text-field>
                        <p
                          class="red--text"
                          v-if="!$v.EditUser.numero_telefone.required "
                        >
                          Esse campo é obrigatório *
                        </p>

                        <p
                          class="red--text"
                          v-if="$v.EditUser.numero_telefone.required && !$v.EditUser.numero_telefone.minLength"
                        >
                          Por favor digite um número válido *
                        </p>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="cancelar()">
                    Cancelar
                  </v-btn>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="salvarEdit(EditUser)"
                  >
                    Salvar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-container>
        </v-main>
      </v-app>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const Swal = SweetAlert;
        Vue.use(VueMask.VueMaskPlugin);
        Vue.use(window.vuelidate.default);
        const { required, minLength } = window.validators;
        new Vue({
          el: "#app",
          data() {
            return {
              users: [],
              user: {},
              primeiro_nome: "",
              ultimo_nome: "",
              nome_completo: [],
              addNewUser: false,
              msgName: false,
              EditUser: {},
              editUserD: false,

              headers: [
                { text: "Nome", align: "start", sortable: true, value: "name" },
                {
                  text: "Número de telefone",
                  value: "numero_telefone",
                  sortable: false,
                },
                { text: "", value: "actions", sortable: false },
              ],
            };
          },
          validations: {
            user: {
              name: {
                required,
                minLength: minLength(3),
              },
              numero_telefone: {
                required,
                minLength: minLength(15),
              },
            },
            EditUser: {
              name: {
                required,
                minLength: minLength(3),
              },
              numero_telefone: {
                required,
                minLength: minLength(15),
              },
            },
          },
          methods: {
            salvar() {
              let idNewUser = 1;
              if (this.users.length != 0) {
                let length = this.users.length - 1;
                idNewUser = this.users[length].id + 1;
              }
              this.$v.$touch(); //validação dos campos
              if (!this.$v.user.$error) {
                this.array_nome_completo = this.user.name.split(" ");
                this.nome_completo = this.array_nome_completo.filter(String); //tratando os espaços em branco entre os nomes
                if (this.nome_completo.length != 1) {
                  this.primeiro_nome = this.nome_completo[0];
                  this.ultimo_nome = this.nome_completo[1];

                  if (
                    this.primeiro_nome.length <= 2 ||
                    this.ultimo_nome.length <= 2
                  ) {
                    this.msgName = true;
                    return;
                  }
                  this.nome_completo = [];
                  this.users.push({ id: idNewUser, ...this.user });
                  Swal.fire({
                    title: "Concluído!",
                    text: "O Contato foi adicionado com sucesso!",
                    icon: "success",
                  });
                  this.cancelar();
                  this.user = {};
                  this.$v.$reset();
                }
              }
              this.setColor();
              this.setItemLocalStorage();
            },
            editUser(user) {
              user.name = user.name
                .split(" ")
                .filter((partOfName) => partOfName != "")
                .join(" "); //remover espacos em branco entre os nomes
              this.nome_completo = [];
              this.EditUser = {
                ...user,
              };
              this.editUserD = true;
            },

            salvarEdit(user) {
              let atualUser = this.users.findIndex(
                (editUser) => editUser.id == user.id
              );
              this.array_nome_completo = user.name.split(" ");
              this.nome_completo = this.array_nome_completo.filter(String);
              this.$v.$touch();

              this.first_name = this.nome_completo[0];
              this.last_name = this.nome_completo[1];

              if (this.first_name && this.last_name) {
                if (this.first_name.length <= 2 || this.last_name.length <= 2) {
                  this.msgName = true;
                  return;
                }
                if (!this.$v.EditUser.$error) {
                  this.users[atualUser].name = user.name;
                  this.users[atualUser].id = user.id;
                  this.users[atualUser].numero_telefone = user.numero_telefone;
                  this.editUserD = false;
                  Swal.fire({
                    title: "Editado!",
                    text: "Contato Editado com sucesso!",
                    icon: "success",
                  });
                  this.cancelar();
                }
              }
              this.setColor();
              this.setItemLocalStorage();
            },

            cancelar() {
              this.msgName = false;
              this.addNewUser = false;
              this.$v.$reset();
              this.user = {};
            },
            setColor() {
              this.users.map((user) => {
                const DDD = String(user.numero_telefone).substr(1, 2);
                return DDD == 11
                  ? (user.color = "light-blue")
                  : (user.color = "white");
              });
            },
            setItemLocalStorage() {
              return localStorage.setItem(
                "Usuarios",
                JSON.stringify(this.users)
              );
            },
            getItemLocalStorage() {
              return JSON.parse(localStorage.getItem("Usuarios"));
            },
          },
          created: function () {
            this.usuarios = this.getItemLocalStorage();
            this.users = !!this.usuarios ? this.usuarios : [];
            this.setColor();
          },
          vuetify: new Vuetify(),
        });
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
    <script src="https://unpkg.com/vuelidate/dist/validators.min.js"></script>
    <script src="https://unpkg.com/vuelidate/dist/vuelidate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  </body>
</html>
